.header {
  font-family: verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid black;
  margin: 0px 0px 15px 0px;
}
.header a {
  color: black;
  margin: 10px;
}
.aqua {
  color: MediumAquamarine;
  padding: 10px;
}
.logo {
  display: inline-flex;
  align-items: center;
  margin: 15px;
}
.menu {
  display: inline-flex;
  margin: 15px;
}
.container {
  display: flex;
  justify-content: space-between;
}
.columnlarge {
  display: flex;
  flex-direction: column;
  width: 630px;
  font-family: Georgia;
  font-size: 17px;
  color: black;
}
.sidestories{
display: inline-flex;
flex-wrap: wrap;
justify-content: space-between;
}
.columnmedium {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 0 15px;
  font-family: Georgia;
  font-size: 17px;
  color: black;
}
.columnsmall {
  display: flex;
  flex-direction: column;
  width: 240px;
  font-family: Georgia;
  font-size: 17px;
  color: black;
}
#mainstory {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png);
}
#mainstoryhead {
  font-family: georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
  padding: 20px 30px;
  margin: 0px
}
#earth {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png);
  width: 275px;
  height: 275px;
}
#earth p{
  font-family: georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
  margin: 0;
}
#orca {
  width: 275px;
  height: 275px;
}
#burger {
  width: 275px;
  height: 275px;
}
#camera {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png);
  background-size: contain;
  width: 275px;
  height: 275px;
}
#camera p{
  font-family: georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
  margin: 0;
}
#cats {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png);
  background-size: auto;
  width: 300px;
  height: 240px;
}
#cats p{
  font-family: georgia;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  color: white;
}
#bites {
  display: flex;
  font-size: 12px;
  font-family: Veranda;
  color: DimGray;
  background-color: WhiteSmoke;
  padding: 10px;
  margin: 0;
  border-bottom: 1px solid black;
}
#bitesheader {
  font-size: 16px;
  font-weight: bold;
}
#footer {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: MediumAquamarine;
  margin: auto;
  font-family: Verdana;
  font-size: 12px;
  height: 200px
}
#footertitle {
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
  padding: 15px;
  margin: auto;
}
#footermenu {
  margin: auto;
}
#footermenu a {
  color: black;
  padding: 15px;
}
#footernav {
  display: flex;
  justify-content: center;
  align-content: center;
}
